.sec-breadcrumb{
    &__text{
        font-size: 17px;
        font-weight: 500;
        position: relative;
        letter-spacing: 2px;
        color: #252525;
        text-transform: uppercase;
        &:after{
            background: -webkit-linear-gradient(left, $secondary 0%, $primary 100%);
            background: -ms-linear-gradient(left, $secondary 0%, $primary 100%);
            bottom: -8px;
            content: "";
            float: right;
            height: 4px;
            margin-right: 0;
            position: absolute;
            right: 0;
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            -ms-transition: all 1s ease;
            -o-transition: all 1s ease;
            transition: all 1s ease;
            width: 0;
        }
    }

    &-back{
        background-color: whitesmoke;
        padding: 2rem;
        position: relative;
        display: flex;
        align-items: center;
        min-height: 106px;
        &.property-details-bcn {
            @media #{$desktop-device}{
                display: block;
            }
            a {
                &:not(:first-child) {
                    &:hover {
                        opacity: .8;
                    }
                    .sec-breadcrumb__text {
                        &:after {
                            display: none;
                        }
                    }
                }
                &:not(:last-child) {
                    margin-right: 80px;
                    @media #{$medium-device}{
                        margin-right: 30px;
                    }
                    @media #{$laptop-device}{
                        margin-right: 30px;
                    }
                }
                &:last-child {
                    .angle-icon {
                        transform: rotate(180deg);
                        position: absolute;
                        top: 6px;
                        right: -20px;
                    }
                }
            }
        }
        @media #{$small-mobile}{
            display: block;
        }
        a {
            @media #{$small-mobile}{
                margin-bottom: 15px;
            }
        }
        a:hover .sec-breadcrumb__text:after{
            width: 100%;
        }

        .angle-icon{
            font-size: 16px;
            vertical-align: middle;
            margin-right: 5px;
        }
        &:before{
            border-top: 53px solid transparent;
            border-bottom: 53px solid transparent;
            border-right: 28px solid whitesmoke;
            content: "";
            display: block;
            height: 0px;
            position: absolute;
            left: -28px;
            top: 0;
            width: 0px;
        }
    }

    .nice-select{
        min-width: 80px;
    }

}