.card-properties{
    .button-area {
        .btn {
            min-width: 215px;
        }
    }
    &__inner{
        padding-bottom: 20px;
        background-color: whitesmoke;
    }

    &__banner{
        position: relative;
        height: 340px;
        width: 100%;
        overflow: hidden;

        &:hover{
            --card-properties-image-transform: translate(-50%, -50%) scale(1.1);

            .apiary-star:after{
                height: 100%;
                opacity: 1;
            }
        }

        img{
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: var(--card-properties-image-transform, translate(-50%, -50%) scale(1));
            transition: $transition-default;
        }

        &:after {
            bottom: 0;
            border-left: 260px solid transparent;
            border-right: 260px solid transparent;
            border-bottom: 60px solid whitesmoke;
            content: "";
            display: block;
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            @media #{$desktop-device}{
                border-left: 230px solid transparent;
                border-right: 230px solid transparent;
            }
            @media #{$laptop-device}{
                border-left: 180px solid transparent;
                border-right: 180px solid transparent;
            }
        }}

    &__heading a{
        display: block;
        height: 50px;
        letter-spacing: 2px;
        margin-bottom: 2%;
        font-family: $secondary-font;
        overflow: hidden;
        text-transform: uppercase;
    }

    &__saveBtn{
        bottom: 45px;
        left: 50%;
        line-height: 1.1;
        position: absolute;
        right: 0;
        z-index: 9;
        transform: translateX(-50%);

        a{
            display: block;
            position: relative;
            text-align: center;

            .apiary-star:after{
                content: "\e917";
                height: 0;
                left: 0;
                line-height: 1;
                opacity: 0;
                overflow: hidden;
                position: absolute;
                right: 0; top: 0;
                transition: all 1s ease;
                color: $secondary;
            }
            .apiary-star,
            .apiary-starFill{
                font-size: 22px;
            }
            .apiary-starFill{
                color: $primary;
            }

            &:before{
                color: whitesmoke;
                content: "\e903";
            }
            &:after{
                color: #2611a8;
                content: "\e912";
            }
            &:before, &:after{
                display: block;
                font-family: 'apiary';
                font-size: 55px;
                left: 0;
                margin: 0 auto;
                position: absolute;
                right: 0;
                top: -17px;
                z-index: -1;
            }
        }
    }

    .prcing-box{
        display: flex;
        align-items: center;
        padding: 15px;
        font-family: $secondary-font;
        justify-content: var(--pricing-box-justify, center);

        span + span{
            margin-left: auto;
        }
        .line{
            position: relative;

            &:after{
                content: "";
                position: absolute;
                width: 2px;
                height: 20px;
                right: -15px;
                top: 50%;
                transform: translateY(-50%);
                background: $white;
            }
        }
    }
}